<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
        <title>Profile</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card p-0">
                        <div class="card-image">
                            <img src="https://i.pinimg.com/originals/5a/9e/a3/5a9ea3a332507a8f8de649f401c17069.jpg"
                                alt="">
                        </div>
                        <div class="card-content d-flex flex-column align-items-center">
                            <h4 class="pt-2">Kieran Matheson</h4>
                            <h5>Dev</h5>

                            <ul class="social-icons d-flex justify-content-center">
                                <li style="--i:1" class="text-center">
                                    <a href="https://www.instagram.com/kieranmatheson_/?hl=en">
                                        <span class="fab fa-instagram"><img src="https://cdn-icons-png.flaticon.com/512/3621/3621464.png" alt="" style="width: 30px; height: 30px;"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
